#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1800px;
    margin-bottom: 100px;
}

h1{
    font-size: 84px;
    font-weight: 800;
    color: var(--colors-yankees-blue);
    margin-bottom: 40px;
}

h1 + p {
    font-size: 28px;
    font-weight: 600;
    color: var(--colors-silver);
    width: 680px;
    margin-bottom: 80px;
    line-height: 1.5;
}

#get-started-about {
    border: none;
    padding: 30px 45px;
    border-radius: 50px;
    background-image: var(--colors-g-magenta-orange);
    font-size: 26px;
    font-weight: 600;
    color: var(--colors-white);
    text-decoration: none;
}

.text {
    margin-left: 60px;
}

#img-hero-about{
    object-fit: contain;
    position: relative;
    z-index: 1;
    transform: scale(1.5);
    left: 420px;
    bottom: 150px;
    
}
