#about {
    display: flex;
    flex-direction: row;
    width: 1110px;
    margin-left: 600px;
}

h1{
    font-size: 80px;
    font-weight: 800;
    color: var(--colors-yankees-blue);
}

h1 + p {
    font-size: 26px;
    font-weight: 600;
    color: var(--colors-silver);
}

#get-started-about {
    border: none;
    padding: 25px 45px;
    border-radius: 40px;
    background-image: var(--colors-g-magenta-orange);
    font-size: 26px;
    font-weight: 600;
    color: var(--colors-white);
}

.text {
    width: 1110px;
    height: 365px;

}

#img-hero-about{
    width: 1580px;
    object-fit: contain;
    position: relative;
    left: 280px;
    bottom: 390px;
}
